body {
  font-size: .875rem;
  background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAPAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQABgQEBAUEBgUFBgkGBQYJCwgGBggLDAoKCwoKDBAMDAwMDAwQDA4PEA8ODBMTFBQTExwbGxscHx8fHx8fHx8fHwEHBwcNDA0YEBAYGhURFRofHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8fHx8f/8AAEQgA1wD6AwERAAIRAQMRAf/EAHgAAAMBAQEBAAAAAAAAAAAAAAACAwEEBQgBAQEBAQEAAAAAAAAAAAAAAAABAgMEEAADAAECBQIEBwADAQAAAAAAAQIRIQMxUXESBEEzkcEyI/BhgaEichNCUmKSEQEBAQEBAQEBAQEAAAAAAAAAARECMRIhUQNB/9oADAMBAAIRAxEAPwD6enDOcaN2jBmADABgAwAYAMAGADABgAwBuAgwBPc34jRfyrkS9YsiW1u1e4+56Y0XoY562rY6EsnRA5AMAGADABgAwAYAMAGADABgDcBA8JZeiA59zyUtI+LMXv8AjUiH+25/2fE5/VXHZDOsZWlm4hnCfAuBHLRMGYAMEBgAwUABgAwAYAy7iF/J/p6ktwc27v1Wi/jPIxempEKZzqm8Z/cfQceldsM7RlVYZtA9vkMCNEBgAwQGADBQAAABuAJbm/E6T/Kv2M3pcc25uVb/AJP9PQ5261iVMxQmTOq74Z3jK0M3EVlmkNoyoSo5EwLgiswAAAAANzKzWiAhueQ3pGi5+pi9LiDber4mGisgnTM1TeM/uPp8xx6V2wztGVpZuMqJmgOUwhHLRMUuCAwAAAAAt7sRx1fIluDn3N6704LkjF61qRIypWZolTM1SZMq9CGd4wtDNxFZZqIdM0NCMcpgI5aIrCDNOL4ASvyEtJ1/MzelxCqdPLeWYUoGMilZmidGarfGf3X0+Y49K7YZ2jK0s3EUlmohkVGgK45DFI00QYQZVzKy2NEL8inpP8Vz9TF6XEjKsYCsypaJRK2YrSeSD0IZ2jK0M3EVlmkPLNIcqAAAnu4mHS9PQlVxXuVb1enI5W60UgAMYGMikZmiVsxWm+M/uvoXj1K7YZ1iLSzcZUTNRDpmgwQAY0nxA5/It7eFPr6mOrjUcrbby9Wc1AABjAVmVJRmqjbMVU8kHoQztGVoZuItJuIeTUQ5RoQAT3/ZroTrxY4Di0AADGArM1SUZqpWzFUeO/uPoXlK7YZ1iLSzcRWWaRSTSNRUaAAcnm/VPQ59tRzmFAGAYRSszROmZqo2zKp5IPQhnaMrQzcRaWaiKSzUQ6KGKgATyPZroTrxY884tADGBjIpWzNVOmZojbMq3x39x9C8ldsM6xleGbiKyzSHTLEOjQ0IAOTzfqnozn21HOYUAYwMZKpGzFVK2Zqo2zIQo75Z0iLwzcRaWajKks0h0zQdFQAJv+zfQnXix55xaYAMgVslUtMzVSpmaqNMyG8f3H0NQrshnSMrwzcRWWaiKJmkOihioAOTzfqnoc+2o5zCsAxsilbJVJTMUSpmaqVMgQo7oZuIvDNxFpZuIrJpDoqHRpGgJv8As10J14seccWgwFbMqxslE6ZmqlTMqnTAbx3/ADfQRHZDOkRaGbiLSzSKSaQ6ZoOioAOTzfqnoc+2o5jCsZFY2QK2SiVUYqpUyKRgIB1TdTx1RZcR07W5NcH+h0lReWbiLSaiHRUOjUDFRPf9m+hOvFjzzi0xkUrZAtMzVSpmVSbIM7WwHUNarQCu3u40r4mp0mOrbaa01R0iLSbiKyaQ6LEOjURoHJ5v1T0OfbUczZhSsypWyUJTM1UqZlU3lgatvPEDf8/yGI6HBvEL2NPK4kxV9rfa0vX8zc6/qY69ulSynlHWVlVFDyaiGKifkezfQnXix57ODZWyBGyUTpmape2q6EwattDAy2y4G7NC4jHBMUR3w8z8BPwdW1vy9K0Z0nTOOmWdEURqIdFGlRyeb9U9Gc+2o5Wc2itkCUzNVOmZGf50+OgwMtsYGUGsQ3Yhgq4N4jHAwZ2ExTR3Q8p4LPxHVtbyej0Z0lTF5NoYoTf9m+hOvCPOZwbI2ZoVTVPREwMtlLV6v9jXya3tGDewYGUFxG9hcGOCYM7Bis7CYK7W5cacVyNS4jq27mlp8DpKlVRpDFRyed9U9Gc/9Go5GcmiUyUC2rrV6LmyfOrpltqeC/U18prewYNUFwaoGI3tLgr2msQdgwHYMVnYTBvYXEVi6noWUWm5fU3KjPI9m+g68I87DbwllnBs8+P63/8AKLOP6mqdumEsLkjQzsJgOwYDsGDe0uA7QDtGA7BiM7CYo7BgZJouC0br4V8TcrKyafA0jl876p6HP/Rrlyzt1b0WnM55rWqzsxOv1VzNTnE1rnIwHYMB2DAdowb2lwHaEUwUGADBQYA3ABgDcATryJf2s93dpnkS9/8ADGzCS0Eg3ABgAwAYAMAGADABgAwUGADAG4CDAUOlCy3gbgm9yd+staTp1M79Hh+34GgYAMEBgAwAYAMAGAGwVBgAwBuADBcC7m5EcXl8kS2Rccu7vXenBckcuutWRPaf3ZM8+q7pZ2jKilM1iFcNDBmCKMAGADAQYAMAGANwAYAMer0RRHc8iZ0jV8/Qxelkct3VPNPLOVrSviv6uprhK65Z1iG7MrQuIVogzAUYAMBBgAwA2CgwAYAyqiFmngW4IbnkU9J/iv3MXprEGzCkpmaF2n92Sc+q75Z2jC0s3EUWpoK45EwI5wQGADABgAwAYAMAJe9Ef+nyRL1hjm3N274vTl6HO9a1ImzKp0zNVXxHpXU1wldkM6xlWWbiHwmVCVBMUuCAwAYAMAAA2kst4QEdzyfSPizN6XEG23lvLMKxkUjIEpmKpdt/ekc+jvhnaMrQzcRSWaiGRUDSfEBalomKUDAAgy9yY4v9Bbg59zfutFouRi9LiRlWMilZmiVMxVV8R6V1N8FdkM6xlaWbjJ0yhioxymME3LRFYQAE735nSdX+xL0uOerqnmnk52qwDAMZFKzNE6ZmqTbf3pJz6td0M7RleGbjKks1EOmaDBAArlPqME7xCzWiM38VC/Ib0nT8/UxelxHOdXxMqAMYCsypWZqpUzNVTxX9XU1wldkM6xlaWbiKJmohkVGgACOORMUuGBwnFoAAGAYyKRmaJ0zFaJtP70/j0HPpXdDOsZWhm4iss0h5NRDIqNAAIeZ7S6/Iz34scZyaAABjIFZFJRmqjbMVVPFf1dTfCV2QzpGVpZuIomaQ6KGKgAAAo8w87YAwDCKxkoSmZqo2zFUu17siejuhnWMrQzcRWWbRSWWIdGhoQAQ8z2l1+RnvxeXGcmgBgGMilbM1U6ZmiNsyqnivSuprlK7IZ0iLSzcRWWaRRM0jUVGgAAUeYedsAYwMZFK2ZonTM1UaZlWbT+7P49BB2wzrGV4ZuIrLNRFJZqIdFDFQAQ8z2l/b5Mz34vLjOTQAUisZAtMzVSpmaqNMyK+L/wAuprlK64Z1iLyzcRSWaRRMsQ6KjSgQG4KPLPO2wDGyKVsgWmZqpUzNVKmZBte7P49CwdkM6RleGbiKyzSKyaQ6NQOioAIeb7S/t8mZ78XlxHJoMDGyKVszROmZqpUzKp0yCnjPiaiV1wzpEXlm4iss1EURpDplDFQIDSjyjzthkCtkUrZBOmZqpUzKptgbCapVyA6tu5fXkblR0QzcRaTURWWbQ6Kh0aiNAh5vtL+3yZnvxeXEcmmMilbIFpmaqVUZqp0yBHl8AKbT7OPBiI6tuk9U8nSI6IZuIrJqIojSHksDmkAGlHlHnbY2RSNmaEpmaqdMlCdrfQimW2XEOoLgxwTBTb3qnStV+5qdGOvbuaWU8nWVleTUQ6NIoijSoh5ntL+3yZnvxY4mcWitkUrZKJ0zNVJvLMqP82+IxDLbLgb/AD0LgxKpeZ0IOja31wvR8zc6THXDT19DrGVEzQeSxDo0jQAo8tnmbI2RSUzNC9tVw+JM1WraS/N8y/IbsLiGUFwaoLgxwTBjgmAlOXlaMYOna3/S/idJ0ljplprKNsqI1BqKiPme0v7fJme/FjhZxbI2ZoSmSqP8qer0Q+TWrbS4DEb2FwMoLg3tLgxwTAvYTA+3VQ9OHIs/B17W9Nfk+R0lZxdG4hyjSoCjymeZ0KpqniVlkFFsJa1q+XoX5TWuS4DsGDewYN7C4DtGA7BgzsGDOwmAUDBSKqeBqDp29xP8mblZxRGkR832l/b5Mz34vLgZxbE7V3w0XNknOik7Uzw1fNmvnE0OBgOwYN7Bg3sLgO0YDsGDOwmDOwYNUjBbb3KWj1RuVHRNJrQ3EOVAUebMS/qpJcsnnkbWnt7cTjH5G4gwiAwgDCAMIoMIAwgDCAMIAwgDCA3CA1JAUirXo2jUQvlPu2l6arjp6E78I55jaWtUm+uhiSNKs0jMIgzCA3CAMIoMIAwgDCAMIAwgDCA3CAac50KKzdeqZqVFO5fhGkf/2Q==');
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}
.row{
  margin-left: 0;
  margin-right: 0;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-size: 1rem;
  color: #333;
  border-bottom: 1px solid #ccc;
  text-shadow: 1px 1px #fff;
  background: linear-gradient(to bottom, rgba(255,255,255,0.19) 0%,rgba(255,255,255,0.25) 52%,rgba(224,224,224,0.25) 54%,rgba(255,255,255,0.31) 100%);
}
.sidebar .nav-link i{
  width:25px;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
  font-weight: 400;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
.bg-light{
  background-color: #f8f9fa70!important;
}

/*
 * Content
 */

 [role="main"] {
     margin-top: 69px;
     background-color: #fdfdfdb8;
     padding: 25px;
     box-shadow: #ccc 1px 1px 10px;
     border-radius: 5px;
 }
main h2 {
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}
h2,h3,h4,h5{
  font-family: 'Roboto Slab', serif;
}
/*
 * Navbar
 */
.navbar{
  animation: bgcolorchange 50s infinite;
  -webkit-animation: bgcolorchange 50s infinite; /* Chrome and Safari */

}

@keyframes bgcolorchange
  {
    0%   {background: #2f0e0e;}
    25%  {background: #46540d; }
    50%  {background: #0f2f0e;}
    75%  {background: #0e0f2f;}
    100% {background: #2f0e26;}
  }

@-webkit-keyframes bgcolorchange /* Safari and Chrome - necessary duplicate */
  {
    0%   {background: #2f0e0e;}
    25%  {background: #5f5b3f;}
    50%  {background: #0f2f0e;}
    75%  {background: #0e0f2f;}
    100% {background: #2f0e26;}
  }

  @keyframes colorchange
    {
      0%   {color: #2f0e0e;}
      25%  {color: #5f5b3f; }
      50%  {color: #0f2f0e;}
      75%  {color: #0e0f2f;}
      100% {color: #2f0e26;}
    }

  @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
    {
      0%   {color: #2f0e0e;}
      25%  {color: #46540d; }
      50%  {color: #0f2f0e;}
      75%  {color: #0e0f2f;}
      100% {color: #2f0e26;}
    }
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.4rem;
  font-family: 'Roboto Slab', serif;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar a {
  color: #fff;
}
.navbar a:hover {
  color:#b3b3b3;
}
.navbar .inner{
  background: linear-gradient(to bottom, rgba(255,255,255,0.19) 0%,rgba(255,255,255,0.25) 52%,rgba(224,224,224,0.25) 54%,rgba(255,255,255,0.31) 100%);
      flex-wrap: nowrap!important;
      padding: 0!important;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}


.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}
.form-control-dark::placeholder {
  color: #fff;
}
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.pointer{
  cursor:pointer;
}

.fadeOut{
  animation: fade 3s;
  -webkit-animation: fade 3s;
}

@keyframes fade {
  0%   {display:block;}
  100% {display: none;}
}

@-webkit-keyframes fade {
  0%   {display:block;}
  100% {display: none;}
}
.table{
  margin-top: 10px;
}
.btn{
  margin-left: 2px;

  text-shadow: 0 0 5px #666;
}
  .btn-primary{
    /* http://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default  */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);

    box-shadow: 1px 1px 2px #000;
  }
  .btn-danger{
    background: linear-gradient(to bottom, #9e2a1f 0%,#d82929 50%,#c92020 51%,#ed8080 100%);

    box-shadow: 1px 1px 2px #000;
  }
.active {
  font-weight: bold;
}
.alert{
  margin-top: 10px;

  box-shadow: rgb(204, 204, 204) 1px 1px 5px;
}
.alert-primary{
  background: linear-gradient(to bottom, rgba(242,246,248,0.39) 0%,rgba(216,225,231,0.4) 50%,rgba(181,198,208,0.4) 51%,rgba(224,239,249,0.4) 100%);
}
.alert-success{
  background: linear-gradient(to bottom, rgba(157,213,58,0.3) 0%,rgba(161,213,79,0.27) 50%,rgba(128,194,23,0.27) 51%,rgba(124,188,10,0.24) 100%);
}
.datepicker{
  box-shadow: rgb(204, 204, 204) 1px 1px 25px;
}
.table{



  border-radius: 10px;
}
.table tbody{
  box-shadow: rgb(204, 204, 204) 1px 1px 5px;
  border: 1px solid #ccc;
}
.table thead{
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.26) 82%,rgba(214,214,214,0.32) 100%);
}
.table-striped tbody tr {
  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%,rgba(243,243,243,0.5) 50%,rgba(237,237,237,0.5) 51%,rgba(255,255,255,0.5) 100%);
}
.table-striped tbody tr i{
  display: none;
}
.table-striped tbody tr:nth-of-type(even) {
    background: linear-gradient(to bottom, rgba(243,226,199,0.11) 0%,rgba(193,158,103,0.12) 50%,rgba(182,141,76,0.12) 51%,rgba(233,212,179,0.13) 100%);
}
.table-hover tbody tr:hover {
    background: linear-gradient(to bottom, rgba(235,241,246,0.32) 0%,rgba(157,203,234,0.32) 49%,rgba(99,181,232,0.32) 51%,rgba(104,189,249,0.32) 100%);
}
.table-hover tbody tr:hover i{
  display: block;
  float: right;
  margin: 5px;
}
